.div-main{
    align-items: center;
    margin-left: 35%;
    margin-top: 10rem;
    width: 30%;
    height: 24rem;
   
    -webkit-box-shadow: 0 0 1rem 0.1rem rgb(206, 205, 205);
    -moz-box-shadow: 0 0 1rem 0.1rem rgb(206, 205, 205);
 }
.div-sub{
    text-align: center;
    margin-top: 2.5rem;
    padding-top: 0.5rem;
    
}
.div-sub1{
    text-align: center;
    padding-left: 1rem;
} 
.div-sub2{
    margin: 1.5rem 1rem;
}


input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.1rem;
    margin-top: 0.5rem;
    height: 3rem;
    border-color: wheat;
    padding-left: 0.5rem;
    background-color: whitesmoke;
}

.submit-button{
    display: block;
    text-decoration: none;
    background-color: #1ba94c;
    border: none;
    height: 3rem;
    font-size: 1rem;
    font-family: Arial;
    font-weight: 1000;
    color: white;
    box-shadow: 0 4px 12px 0 rgba(27,169,76);
    border-color:#1ba94c;
}

.forgot-password{
    display: block;
    text-align: right;
    margin-bottom: 1rem;
}
.bottom-text{
    text-align: center;
    margin-top: 2rem;
}