.div-main{
    align-items: center;
    margin-left: 35%;
    margin-top: 10rem;
    width: 30%;
    height: 30rem;
   
    -webkit-box-shadow: 0 0 1rem 0.1rem rgb(206, 205, 205);
    -moz-box-shadow: 0 0 1rem 0.1rem rgb(206, 205, 205);
 }
.div-sub{
    margin: 1.5rem 1rem;
}

.div-title{
    display: inline-block;
    text-align: center;
    height: 2rem;
    padding-top: 0.5rem;
    width: 49.5%;
}
input{
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
    height: 3rem;
    border-color: wheat;
    padding-left: 0.5rem;
    background-color: whitesmoke;
}

.submit-button{
    text-decoration: none;
    background-color: #1ba94c;
    border: none;
    float: right;
    width: 45%;
    height: 3rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: white;
    box-shadow: 0 4px 12px 0 rgba(27,169,76);
    border-color:#1ba94c;
}
.special{
    background:linear-gradient(to right,#e6ecf0 0%, #fcfafb 100%);
}

a{
    color: black;
    text-decoration: none;
    font-weight: 100;
}